/.myenv
__pycache__/
*.py[cod]
/neural/model
/neural/DRL_Smoothing/agent/
/neural/sample_grids
/.vscode
/out
/unittests/test_files/2d_cases/test_outputs/
/neural/GNN_ALM/sample_grids/training/naca4digits/
